/* * {
    border: 1px red solid;
} */

body {
    margin: 0 0;

    background-color: rgb(16, 18, 33);
    color: rgb(184, 206, 255);

    font-family: 'Courier New', Courier, monospace;
}

header {
    display: grid;
    grid-template-columns: 200px auto;
}

main {
    margin-left: 100px;
    margin-right: 100px;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 2em;
}

nav {
    display: grid;
    grid-template-columns: repeat(4,2fr);

    width: 100%;
    height: 175px;

    font-family: Lato, Helvetica, sans-serif;
    font-size: 3em;
}
nav a {
    display: flex;
    
    height: 100%;
    width: 100%;

    align-items: center;
    justify-content: center;
}

a, a:visited {
    color: rgb(52, 97, 196);
    text-decoration: none;
}
a:hover {
    background-color: rgb(26, 33, 79);
}

main p {
    font-size: 2.5em;
}

img {
    margin: 20px;
    border-radius: 10px;
}

#image1-1 {
    width: 30%;
    
    float: left; 

    filter: invert(100%);
}
#image1-2 {
    width: 50%;
    
    float: right; 

    filter: brightness(75%);
}

#image2-1 {
    width: 50%;
    
    float: left;
}
#image2-2 {
    width: 50%;
    
    float: right;
}

#image3-1 {
    width: 50%;
    
    float: left;
}
#image3-2 {
    width: 50%;
    
    margin-left: 25%;
    margin-right: 25%;
}

#test_box {
    width: 100%;
    border: 2px solid rgb(26, 33, 79);
    border-radius: 5px;
    padding: 10px;

    background-color: rgb(64, 74, 135);
    color: rgb(26, 33, 79);
}

.pseudo_form {
    text-align: center;
}

.pseudo_form input, .pseudo_form button{
    border-color: rgb(26, 33, 79);
    background-color: rgb(148, 159, 232);
    color: rgb(26, 33, 79);

    border-radius: 5px;

    font-size: 1.1em;
}

.pseudo_form input::placeholder {
    color: rgb(43, 47, 74);
    background-color: rgb(148, 159, 232);
    font-size: 1.1em;
}