body {
    margin: 0;

    background-color: black;
    color: white;
}

a:link, a:visited {
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 2em;
    text-decoration: none;
    display: inline-block;
}
a:hover {
    text-decoration: underline;
    background-color: #202020;
}

.back {
    margin: 5px;
    font-size: 2em;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr;
}

.input_field {
    margin: 5px;
    width: 150px;

    text-align: center;
}